<!--to do: read from spreadsheet-->
<!--maybe break up into groups -->

<!doctype html>
<html ng-app="office">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/cubicles.js"></script>
    <title>Pasadena Move - Cubicles</title>
  </head>
  <body ng-controller="officeRepeat">
        <div class="jumbotron">
            <h1 class="display-4">Cubicles</h1>
			<p class="lead">Cubicle Count: 81 </p>
			<p class="lead">Sizes: 8x8, 8x6, 6x6 </p>
        </div>
        <!---Recrusively go over people-->
		<!--
        <div data-ng-repeat="person in people">
            <p>{{person.name}}</p>

        </div>
		-->
		
		<!--PERSON Card----------------->
		<div data-ng-repeat="person in people">
			<p>
				<button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#{{person.name}}" aria-expanded="false" aria-controls="collapseExample">
					{{person.name}}
				</button>
			</p>
			<div class="collapse" id="{{person.name}}">
				<div class="card card-body">
					<!--enter information hre-->
					Information:
					<ul>
						<li>PC NAME/SN: {{person.pcname}}</li>
						<li>Monitor Count: {{person.monitors}}</li>
						<li>Monitor Sizes: {{person.size}}</li>
						<li>Computer Type: {{person.type}}</li>
						<li>Standing Desk: {{person.standingDesk}}</li>
						<li>Notes: {{person.notes}}</li>
						<img src="photos1\\{{person.name}}.jpg" height="500" width="500" class="img-fluid" alt="no image">
					</ul>
				</div>
			</div>
		</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        
  </body>
</html>
